@media (max-width: 10000px) {
  .nav-button-mob1 {
    display: none;
  }
}
@media (max-width: 1700px) {
  .nav-button-mob1 {
    display: none;
  }
  .top-right-middle {
    left: 1305px;
  }

  .top-right-big {
    left: 1305px;
    top: 289px;
  }

  .property-poligon-small {
    left: 1312px;
  }

  .property-poligon-middle {
    left: 1312px;
  }

  .header-bg {
    left: 79px;
  }
}

@media (max-width: 1440px) {
  .howitwas-button img {
    width: 8px;
    height: 16px;
  }
  .top-right-middle {
    display: none;
  }
  .header-bg {
    left: 0;
  }

  .top-right-small {
    left: 698px;
  }

  .top-right-middle {
    left: 1216px;
  }

  .top-right-big {
    left: 1250px;
  }

  .top-left-big {
    left: -48px;
  }

  .top-left-smoll {
    left: 106px;
  }

  .bottom-left-small {
    left: -320px;
  }

  .bottom-left-big {
    position: absolute;
    left: -280px;
  }

  /* property section */

  .property-poligon-small {
    position: absolute;
    top: 10px;
    left: -246px;
  }

  .property-poligon-middle {
    position: absolute;
    top: 81px;
    left: -233px;
  }
}

@media (max-width: 1400px) {
  .top-right-big {
    left: 1000px;
  }
}

@media (max-width: 1230px) {
  .nav-list {
    display: none;
  }

  .nav-button-mob {
    display: block;
  }

  .header-mobile-lg-bg {
    display: none;
  }

  .top-right-middle {
    display: none;
  }

  .top-right-big {
    display: none;
  }

  .nav-link {
    display: block;
  }
  .nav-button-mob1 {
    display: block;
  }
}

@media (max-width: 1194px) {
  .top-right-small {
    left: 588px;
  }

  .top-right-middle {
    left: 1071px;
  }

  .top-right-big {
    top: 305px;
    left: 1043px;
  }
  .howitwas-items img {
    width: 860px;
  }

  .howitwas-wrapper {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  .howitwas {
    display: flex;
  }

  .footer-items {
    flex-wrap: nowrap;
  }
  .top-right-middle {
    left: 905px;
  }

  .top-right-big {
    left: 926px;
  }

  .header-bg {
    top: -6px;
  }

  .feedback-items {
    flex-direction: column;
    align-items: center;
  }

  .feedback-item {
    display: flex;
    flex-direction: column;
  }

  .feedback-item textarea {
    border-radius: 30px;
  }

  .feedback-button-container {
    width: 1024px;
  }

  .property-items {
    flex-direction: column;
    align-items: center;
  }

  .property-item {
    margin-bottom: 40px;
  }
  .property-row {
    height: 435px;
  }

  .details {
    margin-top: 40px;
  }

  .details-item-center input {
    margin-top: 20px;
  }

  .howitwas-items img {
    width: 760px;
  }

  .direction-items {
    flex-direction: column;
  }

  .direction-item {
    margin: 30px auto;
  }
  .property-poligon-small {
    display: none;
  }

  .property-poligon-middle {
    display: none;
  }

  .feedback-button-container {
    width: 960px;
  }

  .howitwas-button {
    top: 207px;
    width: 40px;
    height: 40px;
  }

  .howitwas-button img {
    width: 8.15px;
    height: 16.3px;
  }
}

@media (max-width: 994px) {
  .header-bg {
    display: none;
  }

  .header-content {
    top: 55px;
  }
  .header-mobile-lg-bg {
    display: block;
    margin-top: 76px;
    margin-left: 38px;
  }

  .event {
    margin-top: 1050px;
  }

  .details-item-left {
    position: relative;
    top: -133px;
    left: 85px;
  }

  .details-item-right {
    position: relative;
    top: 100px;
    left: -76px;
  }

  .howitwas-items img {
    width: 620px;
  }
  .container {
    width: 625px;
  }

  .event-block-1 img {
    width: 350px;
    height: 350px;
  }

  .event-data {
    font-size: 16px;
  }

  .event-heading-1 {
    font-size: 26px;
    width: 304px;
  }

  .enent-text {
    font-size: 16px;
  }
  .event-content-1 {
    width: 305px;
    height: 275px;
  }

  .direction {
    margin-top: 160px;
  }
  .feedback-button-container {
    width: 573px;
  }

  .concert-items {
    flex-direction: column;
  }

  .concert-item {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 769px) {
  .top-right-small {
    left: 368px;
    top: 407px;
  }

  .howitwas-button {
    top: 132px;
    width: 29px;
    height: 25px;
  }

  .howitwas-button img {
    position: relative;
    top: 4px;
    left: 0px;
    width: 7px;
    height: 11px;
  }

  .property-title-main {
    position: relative;
    left: -70px;
  }

  .footer-item-first {
    width: 462px;
    height: 130px;
    margin-bottom: 90px;
  }

  .footer-item-third {
    margin-bottom: 30px;
  }

  .header-mobile-lg-bg {
    margin-left: 0px;
  }

  .details-item img {
    max-width: 600%;
  }

  .details-img-left {
    position: relative;
    left: -429%;
    display: none;
  }
  .details-img-left {
    display: none;
  }

  .event-block-2 img {
    width: 350px;
  }

  .footer-items {
    flex-wrap: wrap;
  }
}

@media (max-width: 592px) {
  .event {
    margin-top: 728px;
  }
}

@media (max-width: 426px) {
  .footer-button {
    bottom: 990px;
  }
  .mobil-nav {
    gap: 10px;
  }
  .container {
    width: 405px;
  }

  .header-content {
    width: 300px;
  }

  .header-input {
    width: 360px;
  }

  .header-btn-input {
    left: 245px;
    top: 0px;
  }

  .header-mobile-lg-bg {
    margin-top: 358px;
  }

  .event {
    margin-top: 706px;
  }

  .event-block-1 {
    flex-direction: column-reverse;
  }

  .event-block-2 {
    flex-direction: column;
  }
  .property-title-main {
    width: 300px;
    height: 81px;
    font-size: 20px;
  }

  .header-heading-1 {
    font-size: 24px;
  }

  .header-heading-2 {
    font-size: 24px;
  }

  .header-content p {
    font-size: 14px;
  }

  .header-content-link {
    font-size: 10px;
  }

  .header-mobile-lg-bg {
    margin-top: 264px;
    left: -16px;
  }

  .event-heading {
    font-size: 20px;
  }

  .event-data {
    font-size: 14px;
  }

  .event-heading-1 {
    font-size: 20px;
  }

  .event-text {
    font-size: 14px;
  }

  .direction-title {
    font-size: 20px;
  }

  .direction {
    margin-top: 110px;
  }

  .direction-text {
    font-size: 14px;
  }

  .direction-heading {
    margin: 25px 26px;
    font-size: 20px;
  }

  .direction-item {
    margin: 10px auto;
  }

  .direction-items {
    margin-top: 10px;
  }

  .direction-item {
    width: 380px;
  }

  .howitwas-title {
    margin-top: 53px;
    font-size: 20px;
  }

  .howitwas-title-2 {
    margin-top: 20px;
    font-size: 20px;
  }

  .howitwas-button {
    top: -25px;
    width: 52px;
    height: 25px;
  }

  .concert-text {
    font-size: 20px;
    text-align: start;
  }

  .feedback-title {
    margin-top: 70px;
    font-size: 20px;
  }

  .feedback-item input {
    width: 380px;
  }

  .feedback-item textarea {
    width: 380px;
  }

  .feedback-button-container {
    width: 350px;
  }

  .property-title-main {
    margin-left: 91px;
  }

  .property-item {
    width: 380px;
    margin-bottom: 80px;
  }

  .property-title {
    width: 400px;
    margin: 25px 35px;
    font-size: 20px;
  }

  .property-row {
    margin-top: 83px;
  }

  .details {
    margin-top: 150px;
  }

  .details-item-center input {
    width: 300px;
  }

  .details-item-center {
    width: 300px;
  }

  .details-button {
    width: 300px;
  }

  .details-button-container {
    width: 300px;
  }

  .details-text {
    width: 300px;
    font-size: 12px;
  }

  .event-bg-top-right {
    position: absolute;
    width: 350px;
    height: 500px;
  }

  .top-right-small {
    left: 312px;
    top: 382px;
  }

  .event-bg-bottom-left {
    display: none;
  }

  .direction-heading {
    width: 350px;
    font-size: 20px;
  }

  .property-title {
    width: 352px;
  }

  .property-row {
    margin-top: -20px;
  }

  .property-row-2 {
    margin-top: 80px;
  }

  .property-title-3 {
    position: relative;
    top: -12px;
  }

  .property-title-4 {
    position: relative;
    top: -12px;
  }

  .footer-items {
    gap: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 376px) {
  .footer-button {
    bottom: 1123px;
  }
  .logo {
    position: relative;
    left: -45px;
  }
  .container {
    width: 320px;
  }

  .header-input {
    width: 260px;
  }

  .header-btn-input {
    left: 178px;
    width: 81px;
    top: 0px;
  }
  .top-right-small {
    left: 206px;
    top: 382px;
  }

  .event-block-1 img {
    width: 250px;
    height: 250px;
  }

  .direction-item {
    width: 320px;
  }

  .direction-heading {
    width: 290px;
    font-size: 20px;
  }

  .direction-heading {
    position: relative;
    top: -13px;
  }

  .feedback-item input {
    width: 300px;
  }

  .feedback-item textarea {
    width: 300px;
  }

  .feedback-button-container {
    width: 260px;
  }

  .feedback-buttom {
    width: 300px;
  }

  .property-items {
    position: relative;
    left: -38px;
    width: 320px;
  }

  .property-title {
    width: 280px;
    margin: 25px 20px;
  }

  .property-item {
    width: 300px;
    margin-bottom: 155px;
  }

  .property-row-2 {
    margin-top: 177px;
  }

  .details {
    margin-top: 277px;
  }

  .details-item-center {
    position: relative;
    left: -12px;
  }

  .property-title-main {
    margin-left: 50px;
  }

  .direction-item {
    width: 300px;
  }

  .nav-button-mob {
    display: block;
    position: relative;
    left: 14px;
  }

  .direction-heading {
    width: 255px;
  }

  .derecton-button-order {
    width: 240px;
  }

  .details-item-center {
    width: 280px;
  }

  .details-button {
    width: 240px;
  }

  .feedback-buttom {
    width: 240px;
  }

  .direction-title {
    width: 280px;
  }

  .event-bg-top-right {
    width: 280px;
  }

  .direction-item {
    width: 280px;
  }

  .header-content {
    width: 280px;
  }

  .footer-item-second {
    margin-top: 115px;
  }

  .footer-item-third {
    margin-top: 20px;
  }
}

@media (max-width: 321px) {
  .logo {
    position: relative;
    left: -27px;
  }
  .container {
    width: 320px;
  }

  .header-input {
    width: 260px;
  }

  .header-btn-input {
    left: 178px;
    width: 81px;
    top: 0px;
  }
  .top-right-small {
    left: 206px;
    top: 382px;
  }

  .event-block-1 img {
    width: 250px;
    height: 250px;
  }

  .direction-item {
    width: 320px;
  }

  .direction-heading {
    width: 290px;
    font-size: 20px;
  }

  .direction-heading {
    position: relative;
    top: -13px;
  }

  .feedback-item input {
    width: 300px;
  }

  .feedback-item textarea {
    width: 300px;
  }

  .feedback-button-container {
    width: 260px;
  }

  .feedback-buttom {
    width: 300px;
  }

  .property-items {
    position: relative;
    left: -38px;
    width: 320px;
  }

  .property-title {
    width: 280px;
    margin: 25px 20px;
  }

  .property-item {
    width: 300px;
    margin-bottom: 155px;
  }

  .property-row-2 {
    margin-top: 177px;
  }

  .details {
    margin-top: 277px;
  }

  .details-item-center {
    position: relative;
    left: -12px;
  }

  .property-title-main {
    margin-left: 50px;
  }

  .direction-item {
    width: 300px;
  }

  .nav-button-mob {
    display: block;
    position: relative;
    left: 14px;
  }

  .direction-heading {
    width: 255px;
  }

  .derecton-button-order {
    width: 240px;
  }

  .details-item-center {
    width: 280px;
  }

  .details-button {
    width: 240px;
  }

  .feedback-buttom {
    width: 240px;
  }

  .direction-title {
    width: 280px;
  }

  .event-bg-top-right {
    width: 280px;
  }

  .direction-item {
    width: 280px;
  }

  .header-content {
    width: 280px;
  }

  .footer-item-second {
    margin-top: 115px;
  }

  .footer-item-third {
    margin-top: 20px;
  }
}
